@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import "tailwindcss";

/* #40102F
#D941A4
#024059
#13DCF2
#0FF2F2 */
@theme {
  --color-primary: #d941a4;
  --color-primary-dark: #40102f;
  --color-background: #024059;
  --color-secondary: #13dcf2;
  --color-secondary-light: #0ff2f2;
}
